<div class="layout" [class.layout-auth]="estPageConnexion">
  @if (!estPageConnexion) {
  <aside class="sidebar">
    <h1>{{ traductionService.t('appTitle') }}</h1>
    <a routerLink="/tableau-de-bord" routerLinkActive="active">{{ traductionService.t('dashboard') }}</a>
    <a routerLink="/statistiques" routerLinkActive="active">Statistiques</a>
    <a routerLink="/parametres/profil" routerLinkActive="active">{{ traductionService.t('settings') }}</a>
  </aside>
  }

  <section class="content">
    @if (!estPageConnexion) {
      <header class="topbar card">
        <label>
          {{ traductionService.t('darkMode') }}
          <input type="checkbox" [checked]="themeService.modeSombre()" (change)="basculerTheme($event)" />
        </label>

        <label>
          {{ traductionService.t('language') }}
          <select [value]="traductionService.langue()" (change)="changerLangue($any($event.target).value)">
            <option value="fr">FR</option>
            <option value="en">EN</option>
          </select>
        </label>
      </header>
    }

    <main class="page card">
      <router-outlet />
    </main>
  </section>
</div>
